*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(59, 59, 49);
    color: #f5ea2b;
}

body div {
   
    margin-top: 10px;

}

.navbar{
    display: flex;
    justify-content: space-around;
}

.search{
    width: 750px;
    margin-left: auto;
    margin-right: auto;


}


.search .search-bar{
    width: 50%;
    border: none;
    background: none;
    color: white;
    outline: none;
    border-bottom: 1px solid #f5ea2b;
    margin-top: 15px;
   
}


.container{
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    height: 80vh;

}

.container .main{
    height: 60%;
    text-align: center;
    background: rgb(17, 16, 1,0.3);
    box-shadow: 5px 5px 10px #1c1b08;
    padding-top: 10px;

}

.container .other-days{
    display: flex;
    height: 39%;
    justify-content: space-between;

}

.other-days .nextDays{
    width: 49%;
    text-align: center;
    background: rgb(17, 16, 1,0.3);
    box-shadow: 5px 5px 10px #1c1b08;

}


.nextDays .date-next{
    font-size: 24px;
    margin-bottom: 0;
}
.nextDays .icon-next{
    margin: 0;
}
.nextDays .icon-next img{
    width: 80px;
    height:80px;
    margin: 0;
}

.nextDays .temp-next{
margin: 0;
font-size: 20px;
}

.nextDays.condition-next{
margin: 0;
}

table{
    width: 80%;
   
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-spacing: 0px;
}

table th{
    text-align: center;
    padding: 15px;
    border: 1px solid #ccc;
    
}

table tr td{
    text-align: center;
    padding: 15px;
    border: 1px solid #ccc;
}

.dropdown{
 text-align: center;
}

.dropdown select{
    width: 100px;
}

.filter{
    display: flex;
    justify-content: space-around;
    
}

.radio{
    display: flex;
    justify-content: space-around;
}

.sub-table{
    visibility: hidden;
}